body {
  font-family: sans-serif;
}
form {
  div {
    padding: 4px 0;
    label {
      display: inline-block;
      width: 200px;
    }
  }
}

.field_with_errors {
  display: inline-block;
  input {
    outline: 1px solid red;
  }
}
.error, .error_report {
  color:red;
}

#flash-container {

  padding: 20px;
  margin-bottom: 10px;
  background-color: #DEF;

  .flash-notice {
    color: green;
  }
  .flash-error, .flash-alert {
    color: red;
  }
}

.review {
  margin-bottom: 20px;
  .author-strap {
    font-style: italic
  }
}
